<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>353484259690-en2nog1mi81o6qb8sak33j5pr2lekshc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353484259690-en2nog1mi81o6qb8sak33j5pr2lekshc</string>
	<key>API_KEY</key>
	<string>AIzaSyD19tePLXIGucnhed1vrg5pUYdYsAbkDsM</string>
	<key>GCM_SENDER_ID</key>
	<string>353484259690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.momokoito.pointcast.dev</string>
	<key>PROJECT_ID</key>
	<string>pointcast-mobile-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>pointcast-mobile-app-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:353484259690:ios:85e6ba32588619a1</string>
	<key>DATABASE_URL</key>
	<string>https://pointcast-mobile-app-dev.firebaseio.com</string>
</dict>
</plist>